.loader {
  margin: 0;
  transform: translate(-50%, -50%) rotate(0deg) scale(1.4, 1.4);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 150px;
  box-sizing: border-box;
  animation: rotation 20s infinite linear;
}

.loader .loader__item:after {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 20px;
  animation: shuffle 2s infinite;
}

.loader .loader__item:nth-child(1) {
  transform: rotate(0deg);
}
.loader .loader__item:nth-child(1):after {
  animation-delay: -0.5s;
}
.loader .loader__item:nth-child(2) {
  transform: rotate(45deg);
}
.loader .loader__item:nth-child(2):after {
  animation-delay: -1s;
}
.loader .loader__item:nth-child(3) {
  transform: rotate(90deg);
}
.loader .loader__item:nth-child(3):after {
  animation-delay: -1.5s;
}
.loader .loader__item:nth-child(4) {
  transform: rotate(135deg);
}
.loader .loader__item:nth-child(4):after {
  animation-delay: -2s;
}
.loader .loader__item:nth-child(5) {
  transform: rotate(180deg);
}
.loader .loader__item:nth-child(5):after {
  animation-delay: -2.5s;
}
.loader .loader__item:nth-child(6) {
  transform: rotate(225deg);
}
.loader .loader__item:nth-child(6):after {
  animation-delay: -3s;
}
.loader .loader__item:nth-child(7) {
  transform: rotate(270deg);
}
.loader .loader__item:nth-child(7):after {
  animation-delay: -3.5s;
}
.loader .loader__item:nth-child(8) {
  transform: rotate(315deg);
}
.loader .loader__item:nth-child(8):after {
  animation-delay: -4;
}

@keyframes rotation {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg) scale(1.4, 1.4);
  }
}
@keyframes shuffle {
  50% {
    transform: scale(0.4, 0.4) rotate(-90deg);
    border-radius: 50%;
  }
}
