.container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: rgb(255, 140, 0);
}
