.card {
  border-radius: 10px;
  border: 2px solid #333;
  padding: 20px;
  text-align: center;
  width: 24%;
  margin-bottom: 15px;
  margin-right: 10px;
  list-style-type: none;
}

.card__img {
  margin-bottom: 10px;
}

.card__title {
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
}

.card__title:hover {
  cursor: pointer;
  color: #4f4f4f;
}
